i {
  background-size: cover;
  display: inline-block;
  height: var(--icon-size-regular);
  width: var(--icon-size-regular);

  > svg {
    height: 100%;
    width: 100%;

    * {
      fill: currentColor;
    }
  }
}
