:root {
  // Vine's Flexible Linear Ramps
  // https://lospec.com/palette-list/vines-flexible-linear-ramps

  --blue1: #0e092f;
  --blue2: #1b1853;
  --blue3: #222d81;
  --blue4: #465be7;
  --blue5: #2ac0f2;
  --blue6: #7df2cf;

  --brown1: #220c27;
  --brown2: #2f1316;
  --brown3: #431e1e;
  --brown4: #74341a;
  --brown5: #af5d23;
  --brown6: #f8993a;

  --green1: #0c1327;
  --green2: #03282b;
  --green3: #09493f;
  --green4: #118337;
  --green5: #57c52b;
  --green6: #b9ed5e;

  --purple1: #1a112e;
  --purple2: #291945;
  --purple3: #5e1c5a;
  --purple4: #8f1767;
  --purple5: #f45d92;
  --purple6: #feb58b;

  --red1: #280b26;
  --red2: #361027;
  --red3: #681824;
  --red4: #b42313;
  --red5: #f4680b;
  --red6: #f4c047;

  --slate1: #19102e;
  --slate2: #241e44;
  --slate3: #25315e;
  --slate4: #3a5c85;
  --slate5: #56a1bf;
  --slate6: #97dbd2;

  --black: #150a1f;
  --white: #fffdf0;
  --transparent: transparent;

  --background-color: var(--slate3);
  --background-alt-color: var(--grey2);
  --background-light-color: var(--grey4);

  --error-color: var(--red4);
  --info-color: var(--blue4);
  --success-color: var(--green4);
  --warn-color: var(--red6);
}
