i {
  background-size: cover;
  color: currentColor;
  display: inline-block;
  height: var(--icon-size-regular);
  width: var(--icon-size-regular);

  > svg {
    height: 100%;
    width: 100%;

    * {
      fill: currentColor;
    }
  }

  &.exclamation-triangle {
    background-image: url(/icons/exclamation-triangle.png);
    height: 1.6rem;
    width: 1.6rem;
  }

  &.gem {
    &.large {
      height: 3.2rem;
      width: 1.6rem;
    }

    &,
    &.medium {
      height: 1.6rem;
      width: 0.8rem;
    }

    &.small {
      height: 1rem;
      width: 0.6rem;
    }

    @each $type in (error, info, success) {
      &.#{$type} {
        background-image: url(/icons/gem.#{$type}.medium.png);

        @each $size in (small, medium, large) {
          &.#{$size} {
            background-image: url(/icons/gem.#{$type}.#{$size}.png);
          }
        }
      }
    }
  }
}
